[submodule "themes/hugo-profile1"]
	path = themes/hugo-profile1
	url = https://github.com/gurusabarish/hugo-profile
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
